In [1]:
import pandas as pd

In [2]:
# import MRHIER.RRF
mrhier = pd.read_csv('/Users/qinyilong/Desktop/ScAi/MRHIER.RRF', sep='|', header=None, dtype=object)

In [3]:
# Give columns names and drop the last column
mrhier = mrhier.drop(9, axis=1)
mrhier.columns = ['CUI', 'AUI', 'CXN', 'PAUI', 'SAB', 'RELA', 'PTR', 'HCD', 'CVF']

In [5]:
mrhier

,CUI,AUI,CXN,PAUI,SAB,RELA,PTR,HCD,CVF
0,C0000039,A0016515,1,NaN,MSH,NaN,A0434168.A2367943.A18456972.A0135374.A0080362....,D10.570.755.375.760.400.800.224,NaN
1,C0000039,A0049238,1,NaN,SNMI,NaN,A0455478.A0359059.A0650841.A0699760,NaN,NaN
2,C0000039,A11754881,1,NaN,MSHSWE,NaN,A16484106.A11749657.A11756438.A11755673.A11764...,D10.570.755.375.760.400.800.224,NaN
3,C0000039,A13042554,1,NaN,MSHCZE,NaN,A13057283.A13041599.A13058474.A13041962.A13058...,D10.570.755.375.760.400.800.224,NaN
4,C0000039,A13096036,1,NaN,MSHPOR,NaN,A13098313.A9119566.A20010020.A9113667.A9114687...,D10.570.755.375.760.400.800.224,NaN
...,...,...,...,...,...,...,...,...,...
25959984,NaN,NaN,8,NaN,NaN,NaN,..A2880798.A6938220.A3399957.A6919970.A3513173...,NaN,8192
25959985,NaN,NaN,9,NaN,NaN,NaN,..A2880798.A6938220.A3513036.A3513034.A2878698...,NaN,8192
25959986,C4721337,A29738723,1,NaN,SNOMEDCT_US,isa,A3684559.A3886745.A3356704.A3473506.A3487857.A...,NaN,8192
25959987,NaN,NaN,2,NaN,NaN,NaN,..A3456467.A3494682.A3709940.A3434530.A11736716,NaN,8192
25959988,C4721338,A29738195,1,NaN,SNOMEDCT_US,isa,A3684559.A2895444.A3647338.A3551802.A23446884,NaN,8192

In [6]:
mrhier[mrhier['PAUI'].notna()]

Empty DataFrame
Columns: [CUI, AUI, CXN, PAUI, SAB, RELA, PTR, HCD, CVF]
Index: []

In [7]:
mrhier[mrhier['AUI'].isna()] # empty AUIs SABs RELAs to be filled

,CUI,AUI,CXN,PAUI,SAB,RELA,PTR,HCD,CVF
23,NaN,NaN,2,NaN,NaN,NaN,..A28298479.A18321480.A18244462,NaN,NaN
27,NaN,NaN,2,NaN,NaN,NaN,..A29542572.A16967690.A29532228.A29516811.A287...,NaN,NaN
28,NaN,NaN,3,NaN,NaN,NaN,..A29542572.A16967690.A29532228.A3052251.A3268...,NaN,NaN
29,NaN,NaN,4,NaN,NaN,NaN,..A3738093.A3248739.A3101579.A29490849.A314458...,NaN,NaN
30,NaN,NaN,5,NaN,NaN,NaN,..A3811138.A2873295.A2873285.A2873362.A2887534...,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25959982,NaN,NaN,6,NaN,NaN,NaN,..A2880798.A6938220.A3399957.A6919970.A2875904...,NaN,8192
25959983,NaN,NaN,7,NaN,NaN,NaN,..A2880798.A6938220.A3399957.A6919970.A2875904...,NaN,8192
25959984,NaN,NaN,8,NaN,NaN,NaN,..A2880798.A6938220.A3399957.A6919970.A3513173...,NaN,8192
25959985,NaN,NaN,9,NaN,NaN,NaN,..A2880798.A6938220.A3513036.A3513034.A2878698...,NaN,8192
25959987,NaN,NaN,2,NaN,NaN,NaN,..A3456467.A3494682.A3709940.A3434530.A11736716,NaN,8192

In [ ]:
# Filling AUIs SABs RELAs should gives us a more 'complete' MRHIER
for index, row in mrhier.iterrows():
    if pd.isna(row.AUI):
        row['AUI'] = mrhier.iloc[index-1]['AUI']
        row['SAB'] = mrhier.iloc[index-1]['SAB']
        row['RELA'] = mrhier.iloc[index-1]['RELA']

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(hand)

In [ ]:
mrhier['CVF'].value_counts()

In [ ]:
mrhier[mrhier['RELA'].notna()]['SAB'].value_counts()

In [ ]:
mrhier['RELA'].value_counts()

In [ ]:
mrhier_ncbi = mrhier[mrhier['SAB'] == 'NCBI']

In [ ]:
mrhier_ncbi

In [ ]:
for index, row in mrhier_ncbi.iterrows():
    print(row['AUI'])
    parents = row['PTR'].split('.')
    print(parents)
    for a, b in zip(parents[:-1], parents[1:]):
        print(a)
        print(b)

In [ ]:
mrhier_ncbi[mrhier_ncbi['PTR'].isna()]